#sisse {
    background: url('pictures/warehousebig.jpg') no-repeat center;
    display: inline-block;
    width: 100%;
    padding:235px 0px;
    text-align: center;
    text-decoration: none;
    color: gold;
    font-weight: bold;
    font-size: 30px;
    text-shadow:0px 0px 10px black;
}

body {
    background: black;
    margin:0px;
}
#wrap{
    width: 1000px;
    background: white;
    margin: auto;
    overflow: auto;
    min-height:600px;
}

#menu a:hover {
    background: Aquamarine;
    color: DarkSlateGray;
}
#content {
    padding:10px;
}
#login{
    margin:auto;
    width: 15%;
    margin-top:10%;
}

.clear {
    clear:both;
}

#login_form {
     display: none;
 }
#register_form {
    display: none;
}
