<h1>CREATE BINS</h1>
<br>

<div class="form-group" style="width: 40%">
    <form action="?page=create_bins" method="POST">

        <?php for($x = 1; $x <= 3; $x++){ ?>

        <input class="form-control" type="text" name="bin<?php echo $x?>" placeholder="bin" value="<?php if (isset($_POST['material'])) echo htmlspecialchars($_POST['material']); ?>" required/>
        <select class="form-control" name="sut<?php echo $x?>" placeholder="bin type" id="sut1" required>
            <option id="pallet1" value="pallet">Pallet</option>
            <option id="box1" value="box">Box</option>
            <option id="bag1" value="box">Bag</option>
        </select><br/>

        <?php } ?>

        <input class="btn btn-primary" type="submit" value="Create bins"/>

    </form>
</div>

<br>
<?php if (isset($errors)):?>
<?php foreach($errors as $error):?>
<div class="text-danger"><?php echo htmlspecialchars($error); ?></div>
<?php endforeach;?>
<?php endif;?>

<br><br>

<input class="btn btn-success" type="button" onclick="location.href='?page=manage_wh';" value="Back to WH Management" />