
<div>Material: <?php echo $material["material"]; ?> </div>
<div>Bin: <?php echo $material["bin"]; ?> </div>
<div>Quantity: <?php echo $material["quantity"]; ?> </div>
<br>

<form action="?page=pick" method="POST">
    <input type="number" name="quantity" placeholder="quantity" min="1" max="9999999" value="<?php if (isset($material['quantity'])) echo htmlspecialchars($material['quantity']); ?>"/><br/>
    <input type="hidden" name="id"  value="<?php if (isset($material['id'])) echo htmlspecialchars($material['id']); ?>"/><br/>
    <input type="submit" value="Muuda"/>
</form>

<br>

<?php if (isset($errors)):?>
    <?php foreach($errors as $error):?>
        <div class="text-danger"><?php echo htmlspecialchars($error); ?></div>
    <?php endforeach;?>
<?php endif;?>