
<h1>GOODS RECEIPT</h1>

<div class="form-group" style="width: 40%">
    <form action="?page=receipt" method="POST">
        <input class="form-control" type="text" name="material" required placeholder="material" value="<?php if (isset($_POST['material'])) echo htmlspecialchars($_POST['material']); ?>"/><br/>
        <input class="form-control" type="number" name="quantity" required  placeholder="quantity" min="1" max="9999999" value="<?php if (isset($_POST['quantity'])) echo htmlspecialchars($_POST['quantity']); ?>"/><br/>
        <select class="form-control" name="sut" id="sut">
            <option name="pallet" id="pallet" value="pallet">Pallet</option>
            <option name="box" id="box" value="box">Box</option>
            <option name="bag" id="bag" value="bag">Bag</option>
        </select>
        <br>
        <input class="btn btn-primary" type="submit" value="Receive goods"/>

    </form>
</div>

<?php if (isset($errors)):?>
<?php foreach($errors as $error):?>
<div class="text-danger" ><?php echo htmlspecialchars($error); ?></div>
<?php endforeach;?>
<?php endif;?>