<h1>INVENTORING</h1>
<br>
<h5>Material: <?php echo $material_DB["material"]; ?> </h5>
<h5>Bin: <?php echo $material_DB["bin"]; ?> </h5>
<h5>Quantity: <?php echo $material_DB["quantity"]; ?> </h5>
<br>

<div class="form-group" style="width: 40%">
    <form action="?page=stock_taking" method="POST">
        <input type="text" name="material" class="form-control" required placeholder="material"  value="<?php if (isset($material_DB['material'])) echo htmlspecialchars($material_DB['material']); ?>"/><br/>
        <input type="number" name="quantity" class="form-control" required placeholder="quantity" min="0" max="9999999" value="<?php if (isset($material_DB['quantity'])) echo htmlspecialchars($material_DB['quantity']); ?>"/><br/>
        <input type="hidden" name="id"  value="<?php if (isset($material_DB['id'])) echo htmlspecialchars($material_DB['id']); ?>"/><br/>
        <input type="submit" class="btn btn-primary" value="Adjust bin"/>
    </form>
</div>

<br>
<?php if (isset($errors)):?>
<?php foreach($errors as $error):?>
<div class="text-danger"><?php echo htmlspecialchars($error); ?></div>
<?php endforeach;?>
<?php endif;?>