
<h1>WAREHOUSE STOCKS</h1>

<table class="table">
    <tr>
        <th> Bin Location </th>
        <th> Storage Type </th>
        <th> Material </th>
        <th> Quantity </th>
        <th> Bin status </th>
        <th> Picking </th>
        <th> Inventory </th>

    </tr>

    <?php while($row = mysqli_fetch_assoc($result)){ ?>
    <tr>
        <td> <?php echo $row['bin']?> </td>
        <td> <?php echo $row['SUT']?> </td>
        <td> <?php echo $row['material']?> </td>
        <td> <?php echo $row['quantity']?> </td>
        <td> <?php echo $row['empty_indicator']?> </td>
        <?php if ($row['empty_indicator'] == 'full'): ?>
        <td> <a href = "?page=pick&id=<?php echo $row['id']; ?>" data-toggle="tooltip" title="Pick materials from bin"> Pick Materials </a></td>
        <?php endif;?>
        <?php if ($row['empty_indicator'] == 'empty'): ?>
        <td>   </td>
        <?php endif;?>

        <td> <a href = "?page=stock_taking&id=<?php echo $row['id'];?>" data-toggle="tooltip" title="Inventeerimine" > Inventory Adjustment </a> </td>
    </tr>

    <?php };?>

</table>

<br><br>

<form action="extract_excel.php" method = "POST">
    <input type="submit" name="excel" value="Export to XLS" class="btn btn-success" data-toggle="tooltip" title="Extracts WH data to XLS format" >
</form>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>